:root {
  --qbackground: #9ba4b5;
  --qdark: #212a3e;
  --qmiddle: #394867;
  --qlight: #f1f6f9;
  --background: #f1f1f1;
  --dark: black;
  --middle: #0f3d3e;
  --light: #e2dcc8;
}
html {
  background-color: var(--middle);
}
p {
  color: var(--light);
  font-size: larger;
  padding-left: 5%;
}
h1 {
  padding-top: 10%;
}
.headerALink {
  width: fit-content;
  padding-left: 5%;
  color: var(--light);
}

.link {
  color: var(--middle);
  background-color: var(--light);
  padding: 5px;
  margin: 10px;
  border: 2px solid var(--light);
  border-radius: 5px;
  text-decoration: none;
}
.linkListDiv {
  padding: 15px;
}
.link:hover {
  color: var(--light);
  background-color: var(--middle);
  border: 2px solid var(--dark);
}

.linkList {
  text-align: center;
  display: flex;
  justify-content: center;
}

.titles {
  color: var(--light);
  font-size: 45px;
  text-align: center;
  font-weight: 800;
  margin-bottom: -30px;
}

.App {
  margin-top: 3%;
  padding-bottom: 0%;
}
.links:hover {
  transform: skewY(-3deg);
}

.Project {
  border: solid var(--dark) 2px;
  border-radius: 20px;
  margin: 5%;
  background-color: var(--background);
  text-align: center;
}

.Text {
  color: var(--background);
  margin: 1%;
  padding-left: 0%;
}

.Img {
  width: 85%;
  border: 5px solid var(--middle);
  border-radius: 10px;
}

.Project:hover {
  background-color: var(--middle);
  color: var(--background);
}

.Button {
  border: 1px solid var(--background);
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}
.ButtonDiv {
  padding-bottom: 10px;
}

.Button:hover {
  color: var(--middle);
  background-color: var(--background);
}

/* styles for devices with a maximum width of 600px */
@media screen and (max-width: 600px) {
  .ProjectList {
    padding-top: 2%;
    display: grid;
    grid-template-rows: 30% 30% 30% 30%;
    grid-auto-flow: column;
    padding-bottom: 3%;
  }
  .App {
    padding-bottom: 0%;
    padding-top: 10%;
  }
  .link {
    font-size: 15px;
  }
}

/* styles for devices with a minimum width of 601px and a maximum width of 1200px */
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .ProjectList {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 55%;
    grid-auto-flow: row;
    padding-bottom: 3%;
  }
  .link {
    font-size: 25px;
  }
}

/* styles for devices with a minimum width of 1201px */
@media screen and (min-width: 1201px) {
  .ProjectList {
    padding-top: 1%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: row;
    padding-bottom: 3%;
  }
  .link {
    font-size: 30px;
  }
}
