:root {
  --background: #9ba4b5;
  --dark: #212a3e;
  --middle: #394867;
  --light: #f1f6f9;
  --qbackground: #f1f1f1;
  --qdark: black;
  --qmiddle: #0f3d3e;
  --qlight: #e2dcc8;
}
html {
  background-color: var(--middle);
}
p {
  color: var(--light);
  font-size: larger;
  padding-left: 5%;
}
h1 {
  padding-top: 10%;
}
.headerALink {
  width: fit-content;
  padding-left: 5%;
  color: var(--light);
}

.link {
  color: var(--light);
  background-color: var(--middle);
  padding: 5px;
  font-size: 25px;
  margin: 10px;
  border: 2px solid var(--dark);
  border-radius: 5px;
  text-decoration: none;
}
.linkListDiv {
  padding: 15px;
}
.link:hover {
  color: var(--middle);
  background-color: var(--light);
}
.linkList {
  text-align: center;
}

.titles {
  color: var(--light);
  font-size: 45px;
  text-align: center;
  font-weight: 800;
  margin-bottom: -30px;
}
.App {
  background-color: var(--light);
  margin-top: 5%;
  border: 2px solid black;
}
.linkListDiv:hover {
  transform: skewY(-3deg);
}

.ProjectList {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-flow: row;
  padding-bottom: 3%;
}

.Project {
  border: solid var(--dark) 2px;
  border-radius: 20px;
  margin: 5%;
  background-color: var(--background);
  text-align: center;
}

.Text {
  color: var(--background);
  margin: 1%;
}

.Img {
  width: 85%;
  border: 5px solid var(--middle);
  border-radius: 10px;
}

.Img:hover {
  width: 95%;
}

.Project:hover {
  background-color: var(--middle);
  color: var(--background);
}

.Button {
  border: 1px solid var(--background);
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}
.ButtonDiv {
  padding-bottom: 10px;
}

.Button:hover {
  color: var(--middle);
  background-color: var(--background);
}
